<div class="jumbotron">
	<h1>Pinterested? Join the fun now!</h1>
	<p><%=  link_to "Sign in", "#", class: "btn btn-primary btn" %> <%=  link_to "Sign up", "#", class: "btn btn-primary btn" %></p>
</div>
